img {
    /*max-height: 150px;*/
    max-width: 400px;
}

h3 {
    text-transform: capitalize;
    text-align: center;
}
li a {
    display: block;
    float: left;
    border: solid 1px black;
    margin: 1em;
}

li {
    list-style: none;
}
